@media (max-width: 767px){
    /* Стили страницы */
    .login-page {
        margin: 0 auto;
        padding: 10vh 0 ;

        background-color: var(--main-background);
    }

    /* Форма */
        .login-page__form {
        display: flex;
        flex-direction: column;
        max-width: 85vw;
        margin: 0 auto;
    }

    /* Заголовок */
    .login-page__title {
        padding-bottom: 2vh;

        font-size: 1.9em;
        
        color: var(--main-text);

        text-align: center;
    }

    /* Логин и пароль */
    .login-email__input,
    .login-password__input {   
        padding: 3%;
        height: 7vh;

        border-radius: 10px;
    }

    .login-email__input{
        margin-bottom: 5%;
    }
    /* Лабел для пароля */
    .login-password__label{
        margin-top: 1vh;

        color: grey;
    }

    /* Кнопка */
    .login-page__button {
        align-self: center;
        margin-top: 7vh;
        padding: 20px;
        width: 60vw;

        border-radius: 30px;

        background: var( --main-accent-gradient);
        color: white;
    }

    /* Общие шрифты */
    .login-page__title,
    .login-email__input,
    .login-password__input,
    .login-password__label {
        font-family: var(--font);
    }

    /* Общие стрили Логина, пароля и кнопки */
    .login-email__input,
    .login-password__input,
    .login-page__button {
        border: none;

        font-size: 1.2em;
    }
}




